.selector[b-2xlfix63lj]{
    z-index:999999;
    position:absolute;
    right:0;
    top:3rem;
    bottom:inherit;
    display:flow;
    background-color: whitesmoke;
    width:25rem;
    border-radius:1rem;
    overflow:visible;
}

.data[b-2xlfix63lj]{
    max-height:20rem;
}

.parent[b-2xlfix63lj]{
    position:relative;
}

tbody>tr:hover[b-2xlfix63lj]{
    border: 1px solid green;
    border-radius: 1rem;
    background-color: burlywood;
    cursor: pointer;
}