label[b-k0a3frjciq] {
    width: 100%;
}

.outer[b-k0a3frjciq] {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: rgba(0,0,0,0.4);
    z-index:99999;
}

.modal-dialog[b-k0a3frjciq] {
    z-index: 999999;
}
